section.section__projects {
  background-color: #f7f7f7;
  padding-top: 3em;
  padding-bottom: 3em;
  overflow-x: hidden;
}

section.section__projects h3,
section.section__projects p {
  margin: 0;
  padding: 0;
}

section.section__projects h1 {
  padding-bottom: 2em;
}
.proj-shifted {
  transform: translate(220px, 0);
  grid-template-columns: 1% 46% 49% !important;
}

.section__projects > article {
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  max-height: 400px;
  width: 100%;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-auto-rows: 400px;
  grid-template-columns: 5% 46% 49%;
  margin-bottom: 250px;
}

.single__project {
  background-color: rgba(0, 0, 0, 0);
}

.single__project.proj-shifted::after {
  content: "";
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0%);
}

.single__project::after {
  box-shadow: none;
}

.single__project--tag {
  height: 100%;
  width: 100%;
  background-color: #3179aa;
  z-index: 5;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.single__project--picture-wrap {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
}

.single__project--picture {
  position: absolute;
  height: 392px;
  width: 375px;
  right: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-position: center;
}

.single__project--picture-wrap > span {
  position: absolute;
  left: 7.5%;
  height: 10%;
  width: 4px;
  border-radius: 10px;
  background-color: white;
  transition: transform 0.2s;
}

.single__project--picture-wrap > span:nth-of-type(1) {
  transform: rotate(-45deg);
}

.single__project--picture-wrap > span:nth-of-type(2) {
  transform: rotate(45deg);
}

.single__project--bg {
  background-color: #111111;
  z-index: 2;
  transition: all 0.2s;
  cursor: pointer;
}

.single__project--bg:hover + .single__project--text {
  background-color: #c6e8ff;
}

.single__project--text {
  background-color: #eeeeee;
  padding: 1em;
  display: flex;
  flex-direction: column;
  z-index: 1;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translate(0px, 0);
}
.no-shadow {
  box-shadow: none;
}

.shadow {
  /* box-shadow: 0px 0px 20px -10px rgb(223, 223, 223); */
}
.proj-shifted .single__project--picture-wrap > span:nth-of-type(1) {
  transform: rotate(180deg);
}

.proj-shifted .single__project--picture-wrap > span:nth-of-type(2) {
  transform: rotate(270deg);
}

.proj-shifted > .single__project--text {
  transform: translate(-75%, 0) rotate(90deg);
}

.single__project--text > div {
  margin: 0 0 2rem 0;
}

.proj-shifted .single__project--button {
  opacity: 0;
}

.proj-shifted > .single__project--text p {
  opacity: 0;
}

.proj-shifted > .single__project--text > span {
  opacity: 0;
}

.proj-shifted .single__project--list > span {
  opacity: 0;
}

.single__project--text h3 {
  line-height: 50px;
  font-size: 2em;
  /* font-family: Futura-Medium; */
  font-weight: 200;
  color: var(--as-dark-grey);
  margin-bottom: 0.25em;
}

.single__project--text p,
.single__project--text div.single__project--list {
  font-size: 1.25em;
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.2s;
}

.single__project--text p {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1em;
}

.single__project--text p.date {
  font-weight: 800;
  color: var(--as-purple);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.single__project--desc {
  font-size: 1em;
  color: var(--as-light-grey);

  /* justify-self: end  ; */
  max-width: 80%;
  line-height: 1.5em;
}

.single__project--button {
  background-color: var(--as-dark-grey);
  font-size: 1em;
  margin-top: 1.5rem;
  padding: 8px 16px;
  min-height: unset;
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
  color: white;
}
.single__project--button:hover {
  background-color: var(--as-purple);
}

.single__project--list {
  justify-self: end;
  margin-top: auto;
  font-size: 1em;
}

.single__project--list > span {
  background-color: azure;
  padding: 0px;
  margin: 5px;
  line-height: 50px;
}

.single__project--list > span:first-of-type {
  margin-left: 0;
}

@media all and (max-width: 768px) {
  .section__projects > article {
    max-height: 100vh;
    max-width: 400px;
    grid-template-columns: 1fr;
    grid-template-rows: 15px auto auto;
    box-shadow: 0px 0px 10px -9px;
    margin: 0 auto 6rem auto;
  }
  article {
    grid-template-columns: 1fr;
    transform: translate(0, 0);
    /* grid-template-rows: 20px 379px 1fr; */
    /* max-height: 900px; */
  }
  .single__project--bg {
    background-position: center center;
    background-origin: center center;
    background-attachment: fixed;
  }
  .single__project--picture {
    position: relative;
    /* right: 10px; */
    width: 350px;
    height: 350px;
  }
  .single__project--text h3 {
    font-size: 1.25em;
    font-weight: 900;
    margin-bottom: 0;
  }
  .single__project--text p:first-of-type {
    margin: 0.5rem 0;
    font-weight: 800;
  }
  .single__project--text p,
  .single__project--text div.single__project--list {
    font-size: 1rem;
    line-height: 1.45rem;
  }
  .single__project--tag {
    border-radius: 0%;
  }
  .single__project--button {
    width: 100%;
    margin-top: 1rem;
  }
}
@media all and (max-width: 400px) {
  .section__projects > article {
    margin: 0 2% 6rem 2%;
    grid-template-rows: 15px 300px auto;
    width: auto;
  }
  .single__project--picture {
    position: relative;
    left: 0;
    width: inherit;
    height: inherit;
  }
}
