.menu__div__wrap {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* top: 0;s */
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  background-color: rgba(25, 25, 25, 0.95);
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 0;
}

.hidden {
  transform: translateY(-200vh) scale(0.5);
  border-radius: 100%;
}
.menu__inner {
  position: relative;
  height: 80%;
  width: 90%;
  margin: auto;
  /* margin-top: 6%; */
  z-index: 1001;
  font-family: Helvetica;
  font-weight: 100;
}

.header__menu {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  color: white;
  font-size: 2.5rem;
  left: 0%;
  z-index: 100;
  top: 0%;
}
.main_item__title {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0 2rem 0 0;
  /* color: white; */
}
.main_item:hover > div {
  color: var(--as-purple);
  cursor: pointer;
}

.main_item {
  /* color: white; */
  cursor: pointer;
}
.main_item ul {
  display: none;
  /* color: white; */
  list-style: none;
  margin: 3rem 0;
  padding: 0;
}

.main_item:hover ul,
.main_item ul:hover {
  display: block;
}
.sub_menu__block {
  position: absolute;
  list-style: none;
  /* margin: 1rem 5rem; */
  /* color: white; */
  top: 4rem;
  z-index: 1000;
  width: 100%;
  padding: 50px;
  left: 0;
  background-color: var(--as-dark-grey);
  transition: all 0.2s ease;
  min-height: 450px;
  font-size: 1.5rem;
  animation: show 400ms ease 1;
  display: flex;
  justify-content: space-evenly;
}

.sub_menu__block ul {
  text-transform: uppercase;
  color: white;
  font-family: Helvetica;
  margin: 1rem 3rem 0 0;
  letter-spacing: 4px;
  font-weight: 400;
  padding: 0;
  font-size: 20px;
  position: relative;
  max-width: 20%;
}

.sub_menu__block ul.hover-frontend::after {
  content: "";
  border-bottom: 1px solid white;
  width: 100%;
  position: absolute;
  left: 0;
  top: 28px;
}

.sub_menu__block ul li {
  text-transform: initial;
  color: white;
  margin: 1rem 0;
  padding: 0;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 200;
  letter-spacing: 2px;
  list-style: none;
}
.sub_menu__block a:nth-of-type(2) li {
  margin: 0;
  margin-top: 3rem;
}

.sm {
  left: initial;
  padding: 50px;
  width: 400px;
  display: flex;
  flex-direction: column;
}
.sub_menu__block.sm ul {
  font-family: Helvetica;
  /* margin: 2rem 0; */
  margin: 0;
  max-width: 100%;
  letter-spacing: 4px;
  font-weight: 400;
  color: white;
  padding: 0rem 0;
  font-size: 20px;
}

.sub_menu__block.sm ul::after {
  content: "";
  border-bottom: 0px solid white;
  width: 100%;
  position: absolute;
  left: 0;
  top: 28px;
}

.close {
  position: absolute;
  font-family: Helvetica;
  font-weight: 100;
  color: white;
  transform: rotate(45deg) scale(3);
  transform-origin: center center;
  font-size: 2rem;
  right: 0%;
  top: 1%;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.close:hover {
  position: absolute;
  cursor: pointer;
  color: var(--as-purple);
  transform: rotate(45deg) scale(500%);
}

@keyframes flyin {
  0% {
    transform: translateX(-50%);
    opacity: 0;
    width: 0%;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
    width: 100%;
  }
}

@keyframes show {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  70% {
    opacity: 0.2;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
